.nav {
  height: 10vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.main {
  height: 90vh;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content:space-around;
  align-items:center;
}

.btn{
  margin: 5px;
  padding: 5px;
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
  gap: 2px;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.formbox > * {
  margin: 5px;
  padding: 5px;
}

.nav_ham > span{
  display: block;
  margin: 3px;
  height: 2px;
  width: 20px;
  background: #ffffff;
}

.errorbox{
  background-color: rgb(250, 180, 168);
  color: rgb(160, 6, 6);
  padding: 10px;
  width: 20vw;
  text-align: center;
  border-radius: 3px;
  border: 1px solid rgb(160, 6, 6);
}

.uimg{
  border-radius: 50%;
}

.ucard{
  background-color: rgb(39, 39, 39);
  padding: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 42vw;
  border-radius: 5px;
}
.ucard >div{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 20px;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
}
.main2 {
  padding: 40px; 
  text-align: center;
}

.hobox{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hobox > span{
  margin-left: 10px;
}

.listblock{
  background-color: rgb(34, 34, 34);
  margin: 5px;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 6px;
}

.listblock > div > a:hover{
  color: gray;
}